@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

h1, h2 {
  font-family: "EB Garamond", serif;
}

.testimonial-section {
  min-height: 400px;
}

.blog {
  min-height: 450px;
}

.social-icon {
  height: 20px;
  padding-right: 10px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.accordion-item {
  border-bottom: 2px solid black;
}