@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap");

h1, h2 {
  font-family: "EB Garamond", serif;
}

.testimonial-section {
  min-height: 400px;
}

.category-card {
  min-height: 255px;
}

.job-card {
  min-height: 300px;
  height: auto;
}

.inner-card {
  height: 150px;
}

.blog {
  min-height: 450px;
}

.social-icon {
  height: 20px;
}

.company-icon {
  height: 50px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.wrapper-80 {
  width: 80%;
  margin: 0 auto;
}

.accordion-item {
  border-bottom: 2px solid black;
}

.check-list {
  list-style-image: url("./assets/checkmark.svg");
}

.logo-footer {
  max-width: 150px;
}

.sub-heading {
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
}

.bookmark {
  cursor: pointer;
}