@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap");

h1,
h2 {
  font-family: "EB Garamond", serif;
}

.testimonial-section {
  min-height: 400px;
}

.category-card {
  min-height: 255px;
}

.job-card {
  min-height: 300px;
}

.inner-card {
  min-height: 200px;
}

.blog {
  min-height: 450px;
}

.social-icon {
  height: 20px;
}

.company-icon {
  height: 50px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.wrapper-80 {
  width: 80%;
  margin: 0 auto;
}

.accordion-item {
  border-bottom: 2px solid black;
}

.check-list {
  list-style-image: url("./assets/checkmark.svg");
}

.check-list-job {
  list-style-image: url("./assets/checkmark.svg");
}

.logo-footer {
  max-width: 150px;
}

.sub-heading {
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
}

.bookmark {
  cursor: pointer;
}

@media (min-width: 576px) {
  .wrapper-80 {
    width: 75%;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .job-card {
    min-height: 400px;
  }
  .inner-card {
    min-height: 250px;
  }
  .job-card-heading {
    flex-direction: column; 
    align-items: center;
  }
  .job-card-sub-heading {
    flex-direction: column !important;
  }
}

@media (max-width: 768px) {
  .rounded-responsive {
    border-radius: 0.375rem !important;
  }
}

@media (min-width: 769px) {
  .rounded-responsive {
    border-radius: 0 !important;
  }

  .rounded-responsive-end {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
  }

  .rounded-responsive-start {
    border-top-left-radius: 0.375rem !important;
    border-bottom-left-radius: 0.375rem !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}


